---
import { Icon } from "astro-icon/components";
const { href = "#", target = "_self", variant = "main", icon = "arrow-right" } = Astro.props;

const linkStyling = "inline-flex items-center gap-4 capitalize text-body-base text-link-text group focus:outline-offset-4 visited:text-link-text";

const variantClasses: object = {
  main: " hover:text-link-text-hover active:underline-offset-8 decoration-border-accent ",
  sub: "",
};
---

<li class="border-b border-b-border-primary md:border-none">
  <a href={href} target={target} class:list={[linkStyling, variantClasses[variant]]}
    ><slot />
    {
      variant === "sub" && (
        // <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" class="w-4 h-4 shrink-0 text-link-text hidden group-hover:block transition-opacity duration-200">
        //   <path d="M11.293 17.293L12.707 18.707L19.414 12L12.707 5.29297L11.293 6.70697L15.586 11H6V13H15.586L11.293 17.293Z" fill="currentColor" />
        // </svg>
        <Icon name={icon} class="shrink-0 text-link-text hidden group-hover:block transition-opacity duration-200" />
      )
    }
  </a>
</li>
