---
import ToggleButton from "../atoms/ToggleButton.astro";
---

<div class="flex gap-2 glass border border-border-primary p-2 rounded-full self-end w-fit">
  <ToggleButton icon="light" />
  <ToggleButton icon="dark" />
</div>
