---
import WrapperCaseImage from "../atoms/WrapperCaseImage.astro";

const { heading, text, colorPri, ColorSec } = Astro.props;
---

<section class="section-main grid md:grid-cols-2 gap-6 md:gap-12">
  <div class="grid gap-3 md:gap-8 @container">
    <WrapperCaseImage hexcolor="bg-[#EDEBDC]" />
    <WrapperCaseImage hexcolor="bg-[#4B4B64]" />
  </div>
  <article class="">
    <h2 class="heading-tagline">Proces</h2>
    <p class="heading-small mb-3">Fra fælles ambition til færdig løsning</p>
    <p class="text-text-secondary">
      Samarbejdet med Nordhus CPH tog udgangspunkt i en fælles ambition om at skabe en platform, der både understøtter og udstråler fællesskab, energi og kreativitet. Efter en fælles opstart med workshop og wireframing, gik vi i gang med at udvikle informationsarkitektur, design og funktioner i
      parallelle spor. Gennem løbende dialog og ugentlige statusmøder arbejdede vi tæt sammen med teamet bag Nordhus for at sikre, at både funktion og udtryk stemte overens med husets værdier og behov.
    </p>
  </article>
</section>
