---
const { quote, by } = Astro.props;
---

<section class="section-main grid place-content-center">
  <div class="max-w-3xl grid gap-4">
    <p class="heading-medium">“Man mærker med det samme, at hjemmesiden er lavet med forståelse for, hvem vi er, og hvad vi gerne vil skabe”</p>
    <p class="flex gap-2 before:content-['-'] text-text-secondary text-body-large">Marianne Holst, daglig leder</p>
  </div>
</section>
