---
import WrapperCaseImage from "../atoms/WrapperCaseImage.astro";

const { heading, text, colorPri, ColorSec } = Astro.props;
---

<section class="section-main grid md:grid-cols-2 gap-6 md:gap-12">
  <article class="">
    <h2 class="heading-tagline">Resultatet</h2>
    <p class="heading-small mb-3">Et design skabt til fællesskab</p>
    <p class="text-text-secondary">
      Designet kombinerer en levende visuel identitet med intuitive brugerrejser, som gør det nemt for besøgende at udforske aktiviteter, booke lokaler og engagere sig i husets fællesskab. Løsningen er skabt med samme åbenhed og energi, som kendetegner Nordhus CPH i den fysiske verden.
    </p>
  </article>
  <div class="grid gap-3 md:gap-8 @container">
    <WrapperCaseImage hexcolor="bg-[#EDEBDC]" />
    <WrapperCaseImage hexcolor="bg-[#4B4B64]" />
  </div>
</section>
