---
const { name, link } = Astro.props;

import { Image } from "astro:assets";

import img from "../../assets/about/office.webp";
import Link from "../atoms/Link.astro";
---

<section class="section-main grid gap-5 md:gap-28">
  <header>
    <h1 class="heading-xlarge">{name}</h1>
    <Image src={img} alt="Hejsa" class="rounded-small aspect-video object-cover" />
  </header>
  <section class="grid gap-10 md:grid-cols-[1fr_2fr] lg:grid-cols-2">
    <div class="grid gap-8 items-start justify-items-start">
      <Link href={link} target="_blank" variant="ButtonSecondary">Se løsningen</Link>
      <div class="grid grid-cols-2 md:grid-cols-1 gap-4">
        <div>
          <h3 class="font-medium mb-2">År</h3>
          <p class="mb-5">2024 - nu</p>
        </div>

        <div>
          <h3 class="font-medium">Services</h3>
          <ul>
            <li><Link href="/build" variant="LinkPrimary">Design</Link></li>
            <li><Link href="/build" variant="LinkPrimary">Webudvikling</Link></li>
            <li><Link href="/build" variant="LinkPrimary">Intergration</Link></li>
          </ul>
        </div>
      </div>
    </div>
    <article>
      <h2 class="heading-large mb-6">Et digitalt samlingspunkt for kultur og fællesskab</h2>
      <p class="text-text-secondary">
        Nordhus CPH – Et digitalt samlingspunkt for kultur og fællesskab Nordhus CPH er et nyt kultur- og fællesskabshus i Nordhavn med en stærk ambition: at skabe et levende og inkluderende mødested drevet af unge kulturskabere. På mere end 400 m² danner huset ramme om events, koncerter, kreative
        workshops – og endda et podcaststudie. For at understøtte den vision har vi skabt en digital platform, der afspejler Nordhus’ energi, initiativ og fællesskabsånd.
      </p>
    </article>
  </section>
</section>
