---
import Link from "../atoms/Link.astro";
import { Icon } from "astro-icon/components";
---

<footer class="grid grid-cols-4 lg:grid-cols-12 lg:grid-rows-7 px-[max(1rem,_50%_-_var(--content-width)_/_2)] overflow-hidden py-32 relative lg:h-[90vh] lg:min-h-[800px] lg:max-h-[1000px] lg:gap-6">
  <article class="pb-24 col-start-1 row-start-2 lg:row-span-3 lg:row-start-2 z-10">
    <h1 class="heading-xlarge text-text-primary pb-5">Skal vi tage en snak<br />om dit næste projekt?</h1>
    <Link href="" variant="ButtonPrimary" target="_blank">Kontakt os</Link>
  </article>

  <section class="grid gap-7 col-start-1 row-start-7 row-span-1 z-10">
    <section class="lg:flex lg:justify-between lg:items-center pb-6 lg:pb-0">
      <ul class="lg:flex lg:flex-row gap-4 heading-small text-text-primary">
        <li class="pb-2 lg:pb-0"><a href="tel:+45 42 41 61 60">+45 42 41 61 60</a></li>
        <li class="pb-6 lg:pb-0"><a href="mailto:info@twentyfour.dk">info@twentyfour.dk</a></li>
      </ul>
      <div class="self-end">toggle</div>
    </section>

    <section class="lg:flex lg:gap-4 lg:justify-between lg:items-center z-10">
      <div class="lg:flex lg:flex-row pb-6 lg:pb-0">
        <Icon name="butterfly" class="text-text-primary heading-small bg-border-accent" />
        <ul class="lg:flex lg:flex-row lg:gap-4">
          <li><p class="text-text-secondary pb-2 lg:pb-0">CVR. nr. 33757883</p></li>
          <li><p class="text-text-secondary">Center Blvd. 5, indgang 7, 2300 København S</p></li>
        </ul>
      </div>
      <div>
        <ul class="lg:flex lg:flex-row lg:gap-4">
          <li class="pb-2 lg:pb-0"><Link href="/build" variant="LinkPrimary" target="_blank" size="p-0">Cookiepolitik</Link></li>
          <li>
            <Link href="https://dk.linkedin.com/company/twentyfourdigitalagency" variant="LinkPrimary" target="_blank" size="p-0">Linkedin</Link>
          </li>
        </ul>
      </div>
    </section>
  </section>

  <div class="bg-border-accent col-start-3 col-span-1 row-start-1 row-span-1 lg:col-start-4"><Icon name="fan" class="text-graphic-medium" /></div>
  <div class="bg-border-accent col-start-3 col-span-1 row-start-3 row-span-1 lg:col-start-10 lg:row-start-6"><Icon name="butterfly" class="text-graphic-small" /></div>
  <div class="bg-border-accent col-start-3 col-span-2 row-span-2 row-start-4 lg:col-start-11 lg:row-start-6 relative right-[-12vw]"><Icon name="square" class="text-graphic-large" /></div>
</footer>
