---
import cases from "../../data/cases.json";
import CardCases from "../molecules/CardCases.astro";
import Link from "../atoms/Link.astro";

const { data } = Astro.props;

console.log("HEJSE", data);
---

<section>
  <article class="flex flex-wrap justify-between items-center gap-6 pb-6">
    <h1 class="text-heading-large">Cases</h1>
    <Link href="" variant="ButtonSecondary" size="large" ikon="ButtonSecondary">Se alle cases</Link>
  </article>
  <ul class="grid grid-cols-[1fr_2fr] lg:grid-cols-[3fr_5fr_4fr] gap-6">
    {
      data.map((oneCase, i) => {
        if (i < 3) {
          return <CardCases data={oneCase} size="medium" variant={oneCase.thumbnail_type} />;
        }
      })
    }
  </ul>
</section>
